h2 {
    color: red;
}

[class^='italic'] {
    font-style: italic;
}

.italic-bold {
    font-size: 20px;
    color: crimson;
}

.container {
    background-color: #f3f3f3;
}

.italic-ellipsis {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

form > input:nth-child(1) {
    background-color: rgb(240, 243, 255);
}

form > input:nth-child(2) {
    background-color: transparent;
    border: 0;
    text-decoration: underline;
}
form > input:nth-child(2):hover {
    cursor: pointer;
}