body{
    padding : 10px;
}

.wrapper, .logo, .nav, .content, .footer{
    border: 1px solid rgba(206, 204, 204, 0.726) ;
    padding: 10px;
}

.logo, .nav, .content{
    margin-bottom: 10px;
}

.logo{
    font-size : large;
    font-weight: bold;
    background-color: rgb(236, 236, 236);
}

.nav{
    background-color: rgb(236, 236, 236);
}

ul, li{
    list-style: none;
    padding: 0;
}
ul{
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
}
li{
    display: block;
    float:left;
    width: 50px;
}

li:nth-child(n+2){
    margin-left: 20px;
}
img{
    display: block;
    margin : 0px auto;
    width: 800px;
}

.footer{
    background-color: lightgray;
    text-align: center;
    color: lightslategray;
    font-size: smaller;
}