body p {
    font-size: 16px;
    color: #666;
}

[class$='-innerbox'] {
    border: 1px solid #ddd;
    padding : 12px 24px;
    background-color: #fff;
}

.container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding : 24px;
    margin : 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}

.header-innerbox .logo {
    font-size: 30px;
    color: #333;
    text-decoration: none;
}

.gnb-innerbox {
    display: flex;
    gap : 24px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
}

.gnb-innerbox > li {
    list-style: none;
}

.gnb-innerbox > li > a {
    display: block;
    position: relative;
    padding: 2px 0; 
    color: #333;
    text-decoration: none;
}

.gnb-innerbox > li > a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background-color: #333;
}


.gnb-innerbox > li > a:hover:before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.content-innerbox > img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.footer {
    font-size: 14px;
    color: #999;
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
    background-color: #eee;
}