/*레이아웃 참고사이트 : https://travelbeeee.tistory.com/380 */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{ /* 전체 선택자 */
    font-family: 'Cinzel', serif;
}

div{    /* 요소 선택자 */
    font-size: x-large;
    font-weight: 600;
}

body{
    width:100%;
    height: 100vh;
    text-align: center;
    border : 1px solid black;
}
.header{    /* 클래스 선택자 : .클래스명으로 선택 */
    width:100%;
    height: 20%;
    background-color: darkblue;
    color: white;
}
.body{
    display: flex; /* flex box : 복잡한 레이아웃을 간단하게 구현할 수 있음, css3에 적용됨 
                                body안의 leftside, rightside, content가 item으로 배열됨
                                참고 사이트 : https://narup.tistory.com/210
                                */
    height:60%;
}
.leftside, .rightside{
    width: 20%;
    background-color: green;
}
.content{
    width: 60%;
    background-color: beige;
}
.footer, .footer>a{
    width: 100%;
    height: 20%;
    background-color: black;
    color: white;
}

#main_article{/*id 선택자 : #아이디이름 으로 선택, 한 요소에만 적용할 수 있으며 중복되지 않아야 함(중복되도 큰 문제는 안생김)*/
    font-weight:900;
    font-size:xx-large;
}
#sub_article{
    font-weight: 500;
    font-size: xx-large;
}

.content .selection{  /* 후손 선택자 : '선조 후손' 형태로 사용, 두 개 이상의 요소를 연결하여 선택
                                       후손 선택자는 바로 밑이 아니어도 그 아래는 전부 선택됨 */
    background-color:darksalmon;
    text-align: left;
}

.article > p{ /* 자식 선택자 : '부모 > 자식', 바로 아래 단계에 있는 요소만 선택*/
    font-weight: 500;
    font-size: small;
    font-style: italic;
}

.article>p + a{ /* 인접 형제 선택자 : +기호 사용, 바로 뒤에만 선택 가능*/
    background-color: rgb(220, 252, 81);
}

.article>p ~ a{ /* 일반 형제 선택자 : ~기호 사용, 선택한 요소와 동일한 부모 요소를 가진 모든 형제요소, 뒤에 나온 것만 되는 듯 */
    font-size: xx-small;
}

[href] {    /* 속성 선택자 : [속성값]으로 선택, 해당 속성이 있는 모든 요소 선택 */
    color: blueviolet;
}
[href="www.google.com"]{ /* 속성 선택자는 '=' 기호를 사용하여 일치하는 값을 지정 가능 */
    border: 1px dashed red;
}

/* 글자 깜박임 참고 : https://zxchsr.tistory.com/309?category=867190 */
@keyframes blink-effect { 50% { opacity: 0; } } 

[id^='selec']{ /* 시작 부분 일치 선택자 : ^ 사용 */
    animation: blink-effect 1s step-end infinite;
}

/* 나타나는 효과 참고 : https://jess2.xyz/css/fade-in-out/ */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
[id$='_article']{ /* 종료 부분 일치 선택자 : $ 사용 */
    animation: fadein 3s;
}

/* 가상 선택자 */
a:hover{    /* 마우스 커서 올라갔을 때*/
    background-color: black;
    color:white;
}
a:active{ /*활성화할 때*/
    background-color: cornsilk; /* 실행될때만 보여서 너무 빨라서 잘 안보임 */
}


/* 가상 선택자 
:first-child
:last-child
nth-child(숫자)
*/

li:first-child{
    text-decoration:line-through ;
}

li:last-child{
    text-decoration: underline;
}

li:nth-child(2n){   /*선택자 설명 https://lalacode.tistory.com/6*/
    background-color: chartreuse;
}
input:focus{    /*인풋 태그에 글 적으려면 빨개짐 */
    background-color: red;
}

.selection::before{ /* 요소내용 앖에 컨텐츠 추가 */
    content:"~~~~~~~~~~~~";
    color:blue;
}

.selection::after{ /* 요소내용 앖에 컨텐츠 추가 */
    content:"^^^^^^^^^^^^";
    color: green;
}