/* 요소 선택자 */
h1 {
    font-size: 36px;
}

/* 클래스 선택자 */
.highlight {
    color: red;
    font-weight: bold;
}

/* ID 선택자 */
#main {
    background-color: lightgray;
}

/* 자식 선택자 */
ul>li {
    list-style: none;
    margin-bottom: 10px;
}

/* 인접 형제 선택자 */
h2+p {
    font-style: italic;
}

/* 일반 형제 선택자 */
h2~p {
    font-size: 20px;
}

/* 속성 값 선택자 */
[href='https://www.example.com'] {
    color: blue;
}

/* 시작 부분 일치 선택자 */
[class^='intro'] {
    text-align: center;
}

/* 종료 부분 일치 선택자 */
[class$='out'] {
    background-color: pink;
}

/* 포함하는 부분 일치 선택자 */
[class*='list'] {
    border: 1px solid black;
    padding: 10px;
}