/* 스타일을 적용할 클래스 선택자 */

body p {

    color: blue;
}

h1 + p {
    font-size: 5px;
}

.bigtitle {
         font-size: 30px;
}

#bigid {
    font-size: 20px;
}

h1 {
    font-size: 32p;
}

.intro {
    background-color: yellow;
}

#intro-for-id {
    background-color: red;
}

section {
    background-color: darkblue;
}

