h2 {
    color: red;
}

h2 + p {
    color: crimson;
    font-style: italic;
    font-weight: bold;
}

ul ~ p {
    font-style: italic;
}

.container {
    background-color: #f0f0f0;
}

input {
    background-color: #f4faffed;
}

div p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-style: italic;
}